.code-format,
pre
{
    background: #DDD;
    border-radius: 5px;
    font-family:  Calibri;
}

.code
{
    font-style: normal;
    background: #DDD;
    border-radius: 5px;
    padding: 0 5px;
    font-family:  Calibri;
    border: .5px dotted;
}

pre
{
    margin: 0;
    padding: 5px;
    width: 200px;
}

.introduce
{
    padding: 5px;
    border: 1px dotted;
    width: 400px;
}

.operatorsPriority
{
    width: 400px;
    position: absolute;
    margin-top: -2px;
    left: 80px;
}

.logicDiv
{
    width: 400px;
    left: -400px;
    position: relative;
}

li
{
    margin: 5px 0;
}

.expand
{
    width: 400px;
}

.expand2
{
    width: 600px;
}

.expand3
{
    width: 800px;
}

.image-code
{
    width: 400px;
    border-radius: 10px;
    display: block;
}