.code-format,
pre
{
    background: #DDD;
    border-radius: 5px;
    font-family:  Consolas, 'Courier New', monospace;
    font-style: normal;
    font-weight: 100;
}

.code
{
    display: inline-block;
    font-style: normal;
    font-weight: 100;
    background: #DDD;
    border-radius: 5px;
    padding: 0 5px;
    font-family:  Consolas, 'Courier New', monospace;
    border: .5px dotted;
}

pre
{
    margin: 0;
    padding: 5px;
    width: 300px;
}

.introduce
{
    padding: 5px;
    border: 1px dotted;
    width: 400px;
}

.operatorsPriority
{
    width: 400px;
    position: absolute;
    margin-top: -2px;
    left: 80px;
}

.logicDiv
{
    width: 400px;
    left: -400px;
    position: relative;
}

li
{
    margin: 5px 0;
}

.expand,
.extend
{
    width: 500px;
}

.expand2,
.extend2
{
    width: 700px;
}

.expand3,
.extend3
{
    width: 90%;
}

ol > li
{
    /* width: 900px; */
}

.image-code
{
    width: 400px;
    border-radius: 10px;
    display: block;
}

.inline
{
    display: inline;
    margin: 10px 0;
}

h2
{
    text-align: center;
}

body > input
{
    position: sticky;
    top: 200px;
    margin-left: 75%;
}

main
{
    margin-top: -30px;
}

body > input:checked
{
    top: 23px;
    margin-left: 98%;
}

body > label:nth-of-type(2)
{
    top: 23px;
    margin-left: 86%;
}

body > label
{
    position: sticky;
    top: 200px;
}

body > input:checked ~ main label,
input[name='tasks-number'],
body > input:checked + label,
body > input ~ label:nth-of-type(2)
{
    display: none;
}

body > input:checked ~ label:nth-of-type(2)
{
    display: inline;
}

input[name='tasks-number'] + label
{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 38px;
    display: block;
    position: sticky;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #999;
}

input[name='tasks-number'] + label:nth-of-type(n + 2)
{
    top: 36px;
}

input[name='tasks-number'] + label:nth-of-type(n + 9)
{
    top: 86px;
}

input[name='tasks-number'] + label:nth-of-type(n + 16)
{
    top: 136px;
}

#tt
{
    width: 350px;
    height: 36px;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 970px;
}

input[name='tasks-number'] + label:nth-of-type(7n+2)
{
    margin-left: 970px;
}

input[name='tasks-number']:hover + label
{
    cursor: pointer;
    opacity: .7;
}

input[name='tasks-number']:checked + label
{
    background: rgb(59, 53, 61);
    color: white;
}

main
{
    display: flex;
    flex-wrap: wrap;
    --bckgr: rgb(118, 190, 169);
}

input[id='tnum1']:checked ~ ol .task1
{
    background-color: var(--bckgr);
}
input[id='tnum2']:checked ~ ol .task2
{
    background-color: var(--bckgr);
}
input[id='tnum3']:checked ~ ol .task3
{
    background-color: var(--bckgr);
}
input[id='tnum4']:checked ~ ol .task4
{
    background-color: var(--bckgr);
}
input[id='tnum5']:checked ~ ol .task5
{
    background-color: var(--bckgr);
}
input[id='tnum6']:checked ~ ol .task6
{
    background-color: var(--bckgr);
}
input[id='tnum7']:checked ~ ol .task7
{
    background-color: var(--bckgr);
}
input[id='tnum8']:checked ~ ol .task8
{
    background-color: var(--bckgr);
}
input[id='tnum9']:checked ~ ol .task9
{
    background-color: var(--bckgr);
}
input[id='tnum10']:checked ~ ol .task10
{
    background-color: var(--bckgr);
}
input[id='tnum11']:checked ~ ol .task11
{
    background-color: var(--bckgr);
}
input[id='tnum12']:checked ~ ol .task12
{
    background-color: var(--bckgr);
}
input[id='tnum13']:checked ~ ol .task13
{
    background-color: var(--bckgr);
}
input[id='tnum14']:checked ~ ol .task14
{
    background-color: var(--bckgr);
}
input[id='tnum15']:checked ~ ol .task15
{
    background-color: var(--bckgr);
}
input[id='tnum16']:checked ~ ol .task16
{
    background-color: var(--bckgr);
}
input[id='tnum17']:checked ~ ol .task17
{
    background-color: var(--bckgr);
}
input[id='tnum18']:checked ~ ol .task18
{
    background-color: var(--bckgr);
}
input[id='tnum19']:checked ~ ol .task19
{
    background-color: var(--bckgr);
}
input[id='tnum20']:checked ~ ol .task20
{
    background-color: var(--bckgr);
}
input[id='tnum21']:checked ~ ol .task21
{
    background-color: var(--bckgr);
}